.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131414;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-around;
}

.logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header__card {
  color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-family: 800;

}
