.location__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.location_twoLine{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 5px;
    color: azure;

}